$wrapper-max-wdith: 900px;

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: $wrapper-max-wdith;
}

.content-section {
  padding: 25px 0;
}

.centered {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 47%;
  transform: translate(-50%, -50%);
}

.box {
  margin-top: 50px;
}

a.link {
  border: 1px solid #fff;
  padding: 10px 60px;
}

.strapline {
  margin-top: 20px;
}

a.link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
}

.hide {
  display: none;
}

.form {
  margin-top: 30px;
}

input {
  padding: 10px 40px;
}

input {
  display: block;
  margin: 10px auto;
}

input[type="submit"] {
  margin-top: 15px;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 1.2em;
  color: #fff;
}

.quote {
  max-width: 500px;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
}

.quote q {
  font-family: 'Caveat', cursive;
}

@include mq($from: mobile) {
  h1 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.2em;
  }

  .centered {
    width: 300px;
  }
}

@include mq($from: desktop) {
  .centered {
    width: 800px;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }

  .quote {
    font-size: 1.4em;
    max-width: 400px;
  }

  a.link {
    padding: 20px 80px;
  }

  .strapline {
    margin-top: 30px;
  }
}
