$wrapper-max-wdith: 900px;

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: $wrapper-max-wdith;
}

.content-section {
  padding: 25px 0;
}

.centered {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 47%;
  transform: translate(-50%, -50%);
}

.box {
  margin-top: 50px;
  border: 1px solid #fff;
  padding: 10px 20px;
}

.hide {
  display: none;
}
