* {
  font-family: monospace;
}

body {
  background-color: #000;
}

header {
  background: transparent;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.header__copy {
  color: #ffff;
  font-size: 1.5em;
  padding: 1em;
}

@include mq($until: tablet-small) {
 .header__copy {
    text-align: center;
  }
}

a {
  background-color: #000;
  border: 1px solid #9AA2FF;
  border-radius: 4px;
  color: #d9d9d9;
  font-size: 13px;
  padding: 10px 180px;
  text-decoration: none;
  text-transform: uppercase;
}

a:active,
a:focus,
a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #fff;
}

h1 {
  font-size: 1.6em;
  line-height: 18px;
  color: #9AA2FF;
}

h2 {
  font-size: 1.2em;
  opacity: 0.85;
}

h3 {
  font-size: 1em;
  color: #151515;
}

h4 {
  font-size: 0.8em;
}

h5 {
  font-size: 0.5em;
}

.quote {
  max-width: 500px;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
}


@include mq($from: mobile) {
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.8em;
  }
}


@include mq($from: desktop) {
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 2em;
  }

  .quote {
    font-size: 1.4em;
    max-width: 400px;
  }

  a.link {
    padding: 20px 80px;
  }
}
