<div>
  <ul class="slideshow">
    <li><span>Image 01</span></li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
    <li><span>Image 04</span></li>
    <li><span>Image 05</span></li>
    <li><span>Image 06</span></li>
  </ul>
  <div class="centered">
    <h1>Feminist Film Social</h1>
    <h3>aka</h3>
    <h2>FFS</h2>
    <div class="box">
      <a href="/join" class='link'>Enter</a>
    </div>
  </div>
</div>
