<div>
  <ul class="slideshow">
    <li><span>Image 01</span></li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
  </ul>
  <div class="centered">
    <h1>FEMINIST FILM SOCIAL</h1>
    <h3>aka</h3>
    <h2>FFS</h2>
    <div class="box">
      <a href="/join" class="link">JOIN</a>
    </div>
    <p class="strapline">Be part of baking a pie</p>
  </div>
</div>
