<div class="centered">
  <h3>Sign up to our mailing list and be the first to discover the next secret screening</h3>
  <div class="form">
    <form method="POST" action="/subscribe" id="subscribe-form">
      <input id="name" name="name" type="text" placeholder="Your name" />
      <input id="email" name="email" type="email" placeholder="Your e-mail" />
      <input type="submit" text="Submit" />
     </form>
     <div class="content-section">
       <p class="js-error"></p>
       <p class="js-success"></p>
     </div>
  </div>
  <div class="quote">
    <p><q>Feminism has never been about getting a job for one woman. It's about making life more fair for women everywhere. It's not about a piece of the existing pie; there are too many of us for that. It's about baking a new pie. - Gloria Steinem</q></p>
  </div>
</div>

<script src="/static/js/main.js"></script>
