<h1>Join</h1>

<h3>Sign up to our mailing list and be the first to discover the next secret screening</h3>
<div>
  <form method="POST" action="/subscribe" id="subscribe-form">
    <input id="email" name="email" type="email" placeholder="Your e-mail" />
    <input id="name" name="name" type="text" placeholder="Your name" />
    <input type="submit" text="Submit" />
  </form>
  <p class="js-error"></p>
  <p class="js-success"></p>
</div>
